//@import url("../fonts/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400%7COpen+Sans:300,300italic,600,600italic,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: white;
  font-family: "Open Sans", sans-serif;
}